/node_modules
/hot
/project/storage/sessions/*
/project/storage/views/*
/project/storage/*
/project/storage/*.key
/project/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
